# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\POLYTECH\6_sem\dbms_course_work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
